@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

hr {
  border: 1px solid #000;
  margin: 30px;
}

#button {
  margin: 20px;
  padding: 10px;
  background-color: Transparent;
  border: 1px solid #000;
}
